.boardTop {
  padding-top: 10%;
  padding-bottom: 2%;
  text-align: center;
}
.clushLogo {
  width: 100px;
  margin-bottom: 2%;
}

.boardTitleText {
  font-size: 44px;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 10px; /* 밑줄과 텍스트 사이의 간격 */
  text-decoration-color: #333;
  color: #333;
}

.toBoardContentBtn {
  float: right;
  margin-right: 5%;
  background-color: white;
  color: rgb(248, 197, 202);
  border: 2px solid rgb(248, 197, 202);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  font-weight: bold;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
}

.toBoardContentBtn > a {
  color: #333;
  text-decoration: none;
}

.boardBody {
  border: none;
  width: 90%;
  margin-left: 5%;
  margin-top: 1%;
  padding: 1% 1% 1% 1%;
  border-radius: 8px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}

.boardBodyTitle {
  display: flex;
  margin-right: 0.5%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.boardBodyTitle1,
.boardBodyTitle2,
.boardBodyTitle3,
.boardBodyTitle4 {
  padding: 10px 10px 10px 10px;
  text-align: center;
  background-color: rgb(248, 197, 202);
  color: white;
}

.boardBodyTitle1,
.boardBody1 {
  width: 10%;
}

.boardBodyTitle2,
.boardBody2 {
  width: 15%;
}

.boardBodyTitle3,
.boardBody3 {
  width: 65%;
}

.boardBodyTitle4,
.boardBody4 {
  width: 10%;
}

.boardItem {
  display: flex;
}

.boardBody1,
.boardBody2,
.boardBody3,
.boardBody4 {
  padding: 10px 10px 10px 10px;
  text-align: center;
  background-color: white;
  color: #333;
}

.boardBody3 > a {
  color: #333;
  text-decoration: none;
}

.boardItem {
  border: 1px solid rgb(248, 197, 202);
  margin-right: 0.5%;
}

.boardLoading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin: 10%;
}

@keyframes loadingAnimation {
  0% {
    opacity: 0.5;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 0.5;
    transform: scale(1);
  }
}

.LoadingImage {
  width: 100px;
  height: 100px;
  animation: loadingAnimation 1.5s infinite ease-in-out;
}

.boardLoading p {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

.boardTemp > img {
  width: 10%;
}
